<h1>Ait#dormroom</h1>
<p>Find me in app/views/ait/dormroom.html.erb</p>

<table class="table">
  <thead>
    <tr>
      <th>Serial</th>
      <th>Category</th>
      <th>Sample Room Layout</th>
      <th>Room Rent [Thai Baht] </th>
      <th>Electricity Meter [Shared/Seperate] </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>pic.gif</td>
      <td>2000</td>
      <td>Shared</td>
    </tr>
  </tbody>
</table>