<!DOCTYPE html>
<html>
<head>
  <TITLE>Asian Institute of Technology (AIT) - Category Housing Information</TITLE>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<BODY >
<br>

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
  <TR>
    <TD ROWSPAN=3 WIDTH=120><IMG SRC="http://www.asdu.ait.ac.th/lib/graphics/logos/aitlogo.gif" BORDER=0 HEIGHT=75 WIDTH=120></TD>
  </TR>
  <TR>
    <TD BGCOLOR="#003000"><IMG SRC="http://www.asdu.ait.ac.th/lib/graphics/banners/aitfullname.gif" BORDER=0 HEIGHT=28 WIDTH=485></TD>
  </TR>
</TABLE>



<%= yield %>
</body>